<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tads.ifpr.viking">

    <application
            android:allowBackup="true"
            android:icon="@drawable/logovk"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ScrolActivity"
                android:configChanges="orientation"
                android:icon="@drawable/viki"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RagnarActivity"
                android:label="Ragnar !"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LagerthaActivity"
                android:label="Largertha !"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".RolloActivity"
                android:label="@string/title_activity_rollo"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".FlokiActivity"
                android:label="@string/title_activity_floki"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".AthelstanActivity"
                android:label="@string/title_activity_athelstan"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".BjornActivity"
                android:label="@string/title_activity_bjorn"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>